<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="overlay.lawnicons"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="0"
        android:targetPackage="com.google.android.apps.nexuslauncher"
        android:isStatic="true" />
    <application
        android:label="Lawnicons"
        android:hasCode="false" />
</manifest>
